@media only screen and (min-width: 1500px) and (max-width: 1750px) {
    li {
      font-size: 15px;
    }

    .navBarMenu {
      display: inline-block;
    }

    .navBarMenu li:hover {
      background-color: rgb(18, 3, 104);
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .menu {
      display: none;
    }

    .submenu {
      display: none;
    }

    .menu-button {
      display: none;
    }
  }

  @media only screen and (min-width: 1750px) {
    li {
      font-size: 20px;
    }

    .navBarMenu {
      display: inline-block;
    }

    .navBarMenu li:hover {
      background-color: rgb(18, 3, 104);
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .menu {
      display: none;
    }

    .submenu {
      display: none;
    }

    .menu-button {
      display: none;
    }
  }

  @media only screen and (max-width: 1500px) {
    .navBarMenu {
      display: none;
    }

    .menu {
      mix-blend-mode: multiply;
    }

    .submenu {
      display: none;
      position: absolute;
      left: 0;
      background-image: linear-gradient(180deg, rgb(64, 64, 248), rgb(0, 0, 255));
      /*background-color: rgb(46, 25, 138);*/
      width: 100%;
      z-index: 1;
    }

    .submenu li:hover {
      background-color: rgb(88, 68, 189);
      border-radius: 10px;
      cursor: pointer;
      transition: all 0.5s;
    }

    .menu-div:hover .submenu {
      display: block;
    }

    .menu-button {
      background: transparent;
      border: 0;
    }
  }

  @media only screen and (max-width: 550px) {
    .logo {
      display: none;
    }
  }

  .navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .navbar li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px 14px 16px;
    text-decoration: none;
  }

  .logo {
    float: left;
    padding: 14px 16px 14px 16px;
  }

  .topnav-right {
    float: right;
  }

  .user:hover {
    background-color: rgb(18, 3, 104);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.5s;
  }

  .userimg {
    padding-left: 16px;
    padding-right: 5px;
    border-radius: 50%;
  }

  .navbar {
    background-image: linear-gradient(180deg, rgb(70, 142, 250), rgb(64, 64, 248));
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
  }

  .v-line {
    border-right: 6px solid rgb(255, 255, 255);
    display: inline-block;
  }

  .languages {
    display: inline-block;
    border-left: 6px solid rgb(255, 255, 255);
    border-right: 6px solid rgb(255, 255, 255);
    border-radius: 50%;
  }

  .languages li:hover {
    cursor: pointer;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }

  .speceminari {
    background-color: rgb(18, 3, 104);
    border-radius: 10px;
  }